services:
  webtop:
    image: lscr.io/linuxserver/webtop:debian-xfce
    container_name: webtop
    volumes:
      - ./config:/config
    ports:
      - 3000:3000
    restart: unless-stopped
    env_file: .env

networks:
  default:
    external: true
    name: nginx-proxy
